.header {
  padding: 1rem 0;
  font-size: 1.25rem;

  &__title {
    font-weight: bold;
  }

  &__link {
    color: #000;
    transition: all 0.3s ease-in 0s;

    &--active,
    &:hover {
      text-decoration: none;
      color: var(--primary);
    }
  }
}
